
/* Single column, conversations selector for screens below 720px */
#pms_viewer .conversations { height: 55px; overflow: hidden; }
#pms_viewer .conversations .extender { float: right; margin: 5px 5px 0 10px; height: 45px; cursor: pointer;
                                       line-height: 32px; font-size: 24px; }
#pms_viewer .conversations .extender:hover { border-style: outset; background-color: ButtonFace; color: ButtonText; }

/* Two columns for screens above 1024px */
@media all and (min-width: 1000px) {
    #pms_viewer .conversations .extender { display: none; }
    #pms_viewer .conversations { width: 28%; float: left; height: auto; overflow: inherit; padding-right: 9px; }
    #pms_viewer .messages      { width: 72%; float: left; padding-left: 9px; border-left: 2px solid silver; }
}

/* Expanded/collapsed */

#pms_viewer .conversations.expanded {
    position: fixed; overflow: auto;
    top: 10px; left: 10px; width: calc(100% - 20px); height: calc(100% - 20px);
    background-color: white;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow:         1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    z-index: 10;
}
#pms_viewer .conversations.expanded .extender {
    height: 32px; width: 32px; font-size: 16px; line-height: 24px;
}

#pms_viewer .conversations          .conversation_item:not(.selected) { display: none; }
#pms_viewer .conversations.expanded .conversation_item { display: block; }
@media all and (min-width: 1000px) {
    #pms_viewer .conversations .conversation_item:not(.selected) { display: block; }
}

/* Standard sets */

#pms_viewer .conversation_item {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid silver;
    cursor: pointer;
}

/* Note: colors taken from the default styles! These must be ported to the template styles! */
#pms_viewer .conversation_item:last-child  { border-bottom: none; }
#pms_viewer .conversation_item:hover       { background-color: #42A0FF; color: white;}
#pms_viewer .conversation_item.selected    { background-color: #BBDDFF; color: black; cursor: auto; }

#conversation_container .pagination_button                 { text-align: center; }
#conversation_container .pagination_button        button   { width: 100%; }
#conversation_container .pagination_button.top    button   { margin-bottom: 10px; }
#conversation_container .pagination_button.bottom button   { margin-top: 10px; }
#conversation_container .pagination_button button:disabled { display: none; }

#conversation_container .pm_items .pm_item              { border-bottom: 1px solid silver; padding: 5px; }
#conversation_container .pm_items .pm_item:last-child   { border-bottom: none; }
#conversation_container .pm_items .pm_item.unread       { background-color: whitesmoke; }

#send_pm_paged_form .attachments .attachment            { margin: 10px 0; }
#send_pm_paged_form .attachments .attachment:last-child { margin-bottom: 0; }

textarea.pm_input, #conversation_container .pm_items .pm_item {
    font-family: Arial, Helvetica, sans-serif; font-size: 11pt;
}

#conversation_container .pm_items .pm_item .contents p {
    margin: 0;
}

img.pm_attachment { max-width: 100%; border: 1px solid black; }

/* Online contacts list */

#online_users_list {
    z-index: 100;

    display: block;
    position: fixed;
    bottom: 0;
    right: 24px;
    width: auto;
    min-height: 23px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;

    color:            rgba(255, 255, 255, 0.75);;
    background-color: #23282d;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow:    2px 2px 10px 1px rgba(0, 0, 0, 1);
    box-shadow:         2px 2px 10px 1px rgba(0, 0, 0, 1);
}

#online_users_list .trigger       { padding: 3px 10px 3px 3px; cursor: pointer; font-weight: bold; line-height: 26px; min-height: 26px; }

#online_users_list[data-state="collapsed"] span.expanded  { display: none; }
#online_users_list[data-state="collapsed"] span.collapsed { display: inline-block; }
#online_users_list[data-state="collapsed"] .content       { display: none; }

#online_users_list[data-state="expanded"]  span.expanded  { display: inline-block; }
#online_users_list[data-state="expanded"]  span.collapsed { display: none; }
#online_users_list[data-state="expanded"]  .content       { display: block; }

#online_users_list .content {
    max-height: calc(90vh - 32px);
    overflow: auto;
    overflow-x: hidden;
}

#online_users_list .content .user {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    background-size: 28px 28px;
    padding-left: 34px;
    font-size: 12pt;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
}

#online_users_list .content .user .user_display_name {
    display: inline-block;
}

#online_users_list .content .user .user_display_name .name {
    display: inline-block;
    max-width: 240px;
    min-width: 140px;
    overflow: hidden;
}
#online_users_list .content .user .user_display_name .fa-user {
    font-size: 20px;
    margin-top: 6px;
    margin-right: 4px;
}

#online_users_list .trigger:hover       ,
#online_users_list .content .user:hover { color: white; background-color: #535556; }
